@font-face {
  font-family: 'Adequate';
  src: url(/fonts/adequate.extra-light.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  min-height: 100%;
  /*Conteneur flex en colonne*/
  display: flex;
  flex-direction: column;

  /*Propriétés à ajuster pour le menu*/
  position: relative;

  /* Pas de défilement horizontale (puisque le menu est déplacé au delà du 
  viewport) */
  overflow-x: hidden;


  background-color: #0d0f12;
  font-family: monospace;
  margin: 0;

}
h1 {
  line-height: 1.2;
  font-size: 4vw;
  font-weight: 700;
}
h3 {
  float: right;
  line-height: .3;
  font-size: 2.5vw;
  font-weight: lighter;
}
h4 {
  float: left;
  margin-left: -2%;
  font-size: 1.5vw;
  font-weight: lighter;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #0d0f12;
  font-family: 'Roboto', sans-serif;
}


/* *********************************
************************************
**********     Intro    ***********
************************************
************************************ */




header {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  margin-bottom: 10%;

} 
header::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #1f1e1e00 10%, #1f1e1e00 70%, #0d0f1266 80%, #0d0f12 95%), url(/media/background-koi.png);
  background-size: cover;
  background-repeat: no-repeat;
} 



#intro{
  position: fixed;
  width: 100vw;
  height: 20vh;
  background-color: #e32a00;
  display: grid;
  z-index: 2;

}

#intro p{
  display: grid;
  font-size: 1.5vw;
  font-family: 'Adequate';
  color: white;
  align-self: center;
  justify-content: end;
  right: 10%;
  position: absolute;

}

#sidebar{
  display: grid;
  z-index: 10;
}
li, a {
  color: #000000;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  padding: 2%;
  justify-self: center;
}
a:focus {
    /* color: #000000; */
    font-weight: 700;
    transition: .2s linear;
}
aside {
    position: absolute;
    /* color: #000000; */
    top: 35%;
    right: 10%;
    text-align: right;
}


#menu, label:before, label:after {
  content: " ";
  position: absolute;
  left: 10%;
  width: 40px;
  height: 5px;
  background-color: #ffffffbd;
  border-radius: 2px;
  transition: .5s ease;
}

label {
  position: fixed;
  z-index: 4;
  padding: 0;
  left: 10%;
}
label:before { top: 50px; }
label:after { top: 70px; }

#menu {
  top: 44px;
  width: 0px;
  transition: .2s ease;
  z-index: 0;
  position: fixed;
  z-index: 4;
}

#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
}

#menu-toggle:checked + label:before {
    top: 60px;
    left: -5vw;
    transform: rotate(-45deg);
    background-color: #0d0e11;
    z-index: 2;
}
#menu-toggle:checked + label:after {
  top: 60px;
  left: -5vw;
  transform: rotate(45deg);
  background-color: #0d0e11;
  z-index: 2;
}
#menu-toggle:checked + label + #menu {
  top: -0%;
  left: 0;
  margin: 0;
  width: 15vw;
  height: 100vh;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  transition: .3s ease .2s;
  z-index: 0;
  padding: 0;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  align-items: start;
  justify-items: center;
  z-index: 3;
}
#menu-toggle:checked + label + #menu li {
  position: relative;
  pointer-events: all;
  font: 16pt 'Roboto', sans-serif;
  opacity: 1;
  transition: .2s ease .3s;
  display: grid;
  height: 0;
  bottom: -5vh;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

#titre-deco{
  border: solid white 2px;
  display: grid;
  z-index: 2;
  width: 80vw;
  height: 60vh;
  justify-self: center;
  align-self: center;
}

.title{
  position: relative;
  /* width: 40vw;
  height: 50vh; */
  justify-self: end;
  align-self: center;
  z-index: 2;
  right: 10%;
}

.title p{
  color: white;
  font-size: 7vw;
  font-family:
  
  'Adequate';
}




/* *********************************
************************************
**********     Projet    ***********
************************************
************************************ */


#Idea{
  color: white;
  font-family: "Adequate";
  padding-top: 25vh;
  display: grid;
}
#Idea h1{
  line-height: 1.2;
  font-size: 4vw;
  font-weight: 700;
  z-index: 3;
  position: relative;
  margin-bottom: -0.5vh;
  height: 5vh;
  width: 40vw;
  display: grid;
}

div#raisons{
  position: relative;
  width: 80vw;
  height: max-content;
  justify-self: center;
  align-self: center;
  display: grid;
}


/* effet sur l<image */
#Idea div.blur{
  width: 68vw;
  height: 70vh;
  z-index: 2;
  position: absolute;
  background: linear-gradient(45deg, rgb(13, 15, 18) 10%, rgba(13, 15, 18, 0.53) 60%, transparent 80%);
  left: -1%;
}

/* image de la section projet */
#raisons div.image{
  overflow: hidden;
  width: 65vw;
  height: 50vh;
  background-image: url(/media/Inspiration-2.jpg);
  background-repeat: no-repeat;

}

#projet-expl{
  display: grid;
}

#projet-expl p{
  width: 50vw;
  justify-self: end;
  padding: 0;
  margin-top: -5%;
  z-index: 2;
}

#images-inspo{
  display: flex;
  flex-wrap: wrap;
  place-content: space-around start;
  place-items: center;
  justify-self: center;
  align-self: center;
  width: fit-content;
  padding-top: 20vh;
  margin-top: 10vh;
  justify-content: center;
}

#images-inspo h1{
  position: relative;
  width: 70vw;
  text-align: end;
  padding: 5vw;
}

#images-inspo img{
  width: 35vw;
  padding: 2%;
  transition: .5s ease;
  backface-visibility: hidden;
}








.container{
  position: relative;
  /* width: 50%; */
  display: grid;
  margin: 2%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.milieu {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  text-align: center;
  justify-self: center;
  align-self: center;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .milieu {
  opacity: 1;
}






#projet{
  color: white;
  font-family: "Adequate";
  padding-top: 25vh;
  margin-top: 10vh;
  display: grid;
  padding-left: 5vw;
  padding-right: 5vw;
}

#projet p{
width: 80vw;
}



#process{
  color: white;
  font-family: "Adequate";
  padding-top: 25vh;
  margin-top: 10vh;
  display: grid;
  padding-left: 5vw;
  padding-right: 5vw;
}
#process h1{
  color: white;
  font-family: "Adequate";
}

#process #poissons img{
  margin: 2%;
  width: 40vw;
}
#process #etang img{
  margin: 2%;
  width: 40vw;
}






















@media screen and (max-width: 400px){

}


/* *********************************
************************************
**********     Footer    ***********
************************************
************************************ */
  
footer {
  text-align: center;
  background-color: #eee7da6b;
  border: #eee7da 2px solid;
  margin-top: 10em;
}

/* les icones du footer */
footer nav ul {
  font-size: 2em;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 0.5em;
}

footer nav ul i {
  justify-content: center;
  color: #ffffff;
  padding: 1vw;
}

footer nav ul li span {
  display: none;

}

footer div {
  font-size: 16px;
  color: #ffffff;
  justify-content: center;
}





